body{
    background-color: darkcyan;
}
h1{
        text-align: center;
        font-family: Verdana;
        font-size: 300%;
}
#para1{
    border: 2px solid black;
    font-size: 1cm;
    padding: 30px;
    background-color: palevioletred;
    text-align: center;
}