.avatar {
    vertical-align: middle;
    width: 350px;
    height: 330px;
    border-radius: 50%;
  }
  
  .row {
    display: flex;
  }
  
  /* Create two equal columns that sits next to each other */
  .column1 {
    padding: 10px;
    height: 350px;
    width: 370px; /* Should be removed. Only for demonstration */
  }
  .column2{
    padding: 10px;
    height: 350px;
    width: 800px; 
  }